@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'inter_bold';
  src: url('./fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'seira';
  src: url('./fonts/SairaCondensed-Medium.ttf');
}
@font-face {
  font-family: 'saira_bold';
  src: url('./fonts/SairaCondensed-Bold.ttf');
}
.trapezoid-home-div {
  /* height: 300px; Adjust as needed */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  background-image: url('./assets/court-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trapezoid-score-div {
  /* height: 300px; Adjust as needed */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  background-image: url('./assets/score-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trapezoid-hoop-div {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  background-image: url('./assets/announcer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trapezoid-ball-div {
  background-image: url('./assets/ball-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.custom-select {
  min-width: 350px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  height: 30px;
  width: 50px;
}
