@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'inter_bold';
  src: url('./fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'seira';
  src: url('./fonts/SairaCondensed-Medium.ttf');
}
@font-face {
  font-family: 'saira_bold';
  src: url('./fonts/SairaCondensed-Bold.ttf');
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.custom-select {
  min-width: 350px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  height: 30px;
  width: 50px;
}

.blur-bg::before {
  filter: blur(100px);
}

.ticker-one {
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ticker-two {
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ticker-three {
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
